name: Deploy to IIS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Download code
        uses: actions/checkout@v4

      - name: Publish app
        run: |
          Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process -Force
          dotnet publish eCommerce.microservices.userservice/eCommerce.API/eCommerce.API.csproj -c Release -o C:\deploy\publish

      - name: Stop IIS
        run: iisreset /stop

      - name: Copy files
        run: |
          xcopy C:\deploy\publish C:\inetpub\wwwroot\eCommerce.WebAPI /E /Y /I

      - name: Start IIS
        run: iisreset /start
