name: Deploy eCommerce Web API to IIS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Build & Deploy to IIS
    runs-on: self-hosted

    steps:
      # 1️⃣ Get latest code from GitHub
      - name: Checkout source code
        uses: actions/checkout@v4

      # 2️⃣ Publish .NET application
      - name: Publish application
        run: |
          dotnet publish eCommerce.API/eCommerce.API.csproj `
            -c Release `
            -o C:\deploy\publish

      # 3️⃣ Stop IIS App Pool (safe deploy)
      - name: Stop IIS App Pool
        run: |
          & "$env:windir\System32\inetsrv\appcmd.exe" stop apppool /apppool.name:eCommerceWebAPI


      # 4️⃣ Copy published files to IIS folder
      - name: Copy files to IIS
        run: |
          robocopy C:\deploy\publish C:\inetpub\wwwroot\eCommerce.WebAPI /E /MIR
          exit 0

      # 5️⃣ Start IIS App Pool
      - name: Start IIS App Pool
        run: |
          & "$env:windir\System32\inetsrv\appcmd.exe" start apppool /apppool.name:eCommerceWebAPI
